# Set the default behavior to automatically normalize line endings.
* text=auto

# Explicitly declare text files you want to always normalize and convert to LF upon checkout.
*.js text
*.css text
*.html text
*.json text

# Declare files that will always have CRLF line endings on checkout.
*.bat text eol=crlf

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf
